<h2><%= User.human_attribute_name(:name) %>: <%= @user.name %></h2>
<h2><%= User.human_attribute_name(:email) %>: <%= @user.email %></h2>
<h2><%= User.human_attribute_name(:postal_code) %>: <%= @user.postal_code %></h2>
<h2><%= User.human_attribute_name(:address) %>: <%= @user.address %></h2>
<h2><%= User.human_attribute_name(:introduction) %>: <%= @user.introduction %></h2>
