<div id="<%= dom_id book %>">
  <p>
    <strong><%= Book.human_attribute_name(:Title) %>:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong><%= Book.human_attribute_name(:Memo) %>:</strong>
    <%= book.memo %>
  </p>

  <p>
    <strong><%= Book.model_name.human %>:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong><%= Book.human_attribute_name(:Picture) %>:</strong>
    <%= image_tag(book.picture_url) if book.picture.present? %>
  </p>

</div>
