<div id="<%= dom_id book %>">
  <p>
    <strong><%= I18n.t 'book.Title' %>:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong><%= I18n.t 'book.Memo' %>:</strong>
    <%= book.memo %>
  </p>

  <p>
    <strong><%= I18n.t 'book.Book' %>:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong><%= I18n.t 'book.Picture' %>:</strong>
    <%= image_tag(book.picture_url) if book.picture.present? %>
  </p>

</div>
