<p style="color: green"><%= notice %></p>

<h1><%= (I18n.t 'headline.targets', target: Book.model_name.human).capitalize %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
   <div class="index-item">
     <%= render book %>
      <p>
       <%= link_to (I18n.t "action.show_target", target: Book.model_name.human), book_path(book) %>
     </p>
   </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to (I18n.t "action.new_target", target: Book.model_name.human), new_book_path %>
</nav>
