<p style="color: green"><%= notice %></p>

<h1 book><%= I18n.t 'headline.Books' %></h1>

<div id="books" class="index-items">
  <% @books.each do |book| %>
   <div class="index-item">
     <%= render book %>
      <p>
       <%= link_to (I18n.t "action.Show this book"), book_path(locale, book) %>
     </p>
   </div>
  <% end %>
</div>

<nav class="page-nav">
  <%= link_to (I18n.t "action.New book"), new_book_path %>
</nav>
