<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to (I18n.t "action.Edit this book"), edit_book_path(@book) %> |
  <%= link_to (I18n.t "action.Back to books"), books_path %>

  <%= button_to "action.Destroy this book", @book, method: :delete %>
</nav>
