<h1><%= t('views.common.title_show', name: Report.model_name.human) %></h1>

<div class="show-item">
  <%= render @report %>
</div>
<h2><%= t('views.common.show_mention', name: Report.model_name.human.downcase) %></h2>
<% @report.mentioned_reports.each do |report| %>
  <p>
    <%= link_to report.title,report_path(report) %>からリンク
    <%= time_ago_in_words(report.created_at) %>
  </p>
<% end %>
<%= render 'shared/comments', commentable: @report %>

<nav class="page-nav">
  <% if @report.editable?(current_user) %>
    <%= link_to t('views.common.edit', name: Report.model_name.human.downcase), edit_report_path(@report) %> |
  <% end %>
  <%= link_to t('views.common.back', name: i18n_pluralize(Report.model_name.human.downcase)), reports_path %>

  <% if @report.editable?(current_user) %>
    <%= button_to t('views.common.destroy', name: Report.model_name.human.downcase), @report, method: :delete %>
  <% end %>
</nav>
